:root {
	--bg: #fff;
	--bg-secondary: #d8edd1;

	--fg: #000;

	--primary: #22640e;

	--page-width: min(90vw, 800px);
}

[data-theme='dark'] {
	--bg: #0c2104;
	--bg-secondary: #040d01;

	--fg: #fff;
}

*,
html,
body {
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--bg-secondary);

	overflow-x: hidden;
}

body {
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif;
	color: var(--fg);

	overflow-x: hidden;
}

nav {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;

	max-width: var(--page-width);
	height: 64px;
	padding: 0.5em;
	background-color: var(--bg);

	border-radius: 0.5em;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	ul {
		list-style-type: none;
		display: flex;
		margin-right: 2em;
	}

	a {
		transition: transform 0.05s ease-in-out;
		display: block;
		&:active {
			transform: scale(0.95);
		}
	}
}

@media (max-width: calc(800px + 6em)) {
	nav {
		min-height: 128px;
		flex-direction: column;
		justify-content: center;
		align-items: space-between;

		border-radius: 0 !important;
	}

	main {
		border-radius: 0 !important;
	}

	.slider-frame {
		border-radius: 0 !important;
	}

	.media-section {
		flex-direction: column !important;
	}
}

@media (max-width: 600px) {
	nav {
		ul {
			flex-wrap: wrap;
		}
	}
	main {
		h2 {
			flex-direction: column;
			em {
				margin-top: 0.25em;
				margin-left: 0 !important;
			}
		}
	}
}

a {
	color: var(--fg);
	text-decoration: none;
}

.navLink {
	margin-left: 2em;

	transition: border 0.1s ease-in-out;
	border-bottom: 2px solid var(--bg);

	a {
		font-size: 1.125rem;
		font-weight: 600;
		transition: filter 0.1s ease-in-out;
	}

	&:not(:hover, .active) {
		a {
			filter: contrast(25%);
		}
	}

	&:hover,
	&.active {
		border-color: var(--fg);
	}
}

.socialLink {
	transition: transform 0.05s ease-in-out;
	&:active {
		transform: scale(0.95);
	}
	&:hover {
		cursor: pointer;
	}
}

main {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;

	max-width: calc(var(--page-width) - 1em - 2em);
	padding: 2em 2em;
	background-color: var(--bg);

	border-radius: 0.5em;

	line-height: 1.4em;

	a {
		display: inline-block;
		box-sizing: border-box;
		text-indent: 0;
		font-weight: 600;

		transition: text-decoration-color 0.1s ease-in-out;
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--bg);

		&:hover {
			text-decoration-color: var(--primary);
		}
		color: var(--primary);
	}

	p {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 0.5em;
	}

	h1 {
		color: var(--bg);
		background-color: var(--fg);
		padding-left: 0.3em;
		padding-right: 0.3em;
		padding-top: calc(0.4em - 6px);
		padding-bottom: 0.3em;
		border-radius: 0.25em;
		font-size: 28px;
		display: inline-block;
		user-select: none;

		svg {
			width: 0.75em;
			height: 0.75em;
		}
	}

	h2 {
		color: var(--fg);
		font-size: 1.25rem;

		display: flex;
		white-space: nowrap;

		em {
			font-style: normal;
			font-size: 18px;
			filter: contrast(25%);
			margin-top: -0.5rem;
			font-weight: 400;
		}
	}

	strong {
		font-weight: 600;
	}

	ul {
		margin-left: 1.5em;
		font-size: 1rem;
		line-height: 1.4em;
	}
}

.logo h1 {
	color: #fff;
	border-radius: 0.25em;
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

.slider-list {
	width: calc((var(--page-width) / 5) * 3);
	height: calc((calc((var(--page-width) / 5) * 3.5) / 16) * 9);
	position: relative;
}
.slide {
	width: calc((var(--page-width) / 5) * 3);
	height: calc((calc((var(--page-width) / 5) * 3) / 16) * 9);
	position: relative;
	img {
		object-fit: cover;
		object-position: 50% 50%;
	}
}
.slider-frame {
	border-radius: 0.5em;
}

.footerLink {
	font-weight: 600;
	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
	&.igalaxy {
		color: #ab48ab;
	}
	&.jip {
		color: rgb(29, 153, 97);
	}
	&.legal {
		color: var(--primary);
		text-decoration-thickness: 1px;
	}
}
