:root {
	--bg: #fff;
	--bg-secondary: #d8edd1;

	--fg: #000;

	--primary: #22640e;

	--page-width: min(90vw, 900px);
}

[data-theme='dark'] {
	--bg: #0c2104;
	--bg-secondary: #040d01;

	--fg: #fff;

	.sidebarLink {
		&:hover,
		&.active {
			a {
				color: var(--fg);
			}
		}

		&:hover {
			&:not(.active) {
				a {
					backdrop-filter: brightness(50%);
				}
			}
			&.active {
				a {
					backdrop-filter: brightness(75%);
				}
			}
		}
	}

	main,
	.content {
		a {
			filter: brightness(150%);
		}
	}
}

*,
html,
body {
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--bg-secondary);

	overflow-x: hidden;

	scrollbar-width: thin;
	overflow-y: scroll;
}

body {
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif;
	color: var(--fg);

	overflow-x: hidden;
}

nav {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;

	max-width: var(--page-width);
	height: 64px;
	padding: 0.5em;
	background-color: var(--bg);

	border-radius: 0.5em;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	ul {
		list-style-type: none;
		display: flex;
		margin-right: 2em;
	}

	a {
		transition: transform 0.05s ease-in-out;
		display: block;
		&:active {
			transform: scale(0.95);
		}
	}
}

@media (max-width: calc(800px + 6em)) {
	nav {
		min-height: 128px;
		flex-direction: column;
		justify-content: center;
		align-items: space-between;

		border-radius: 0 !important;
	}

	main {
		border-radius: 0 !important;
	}

	.slider-frame {
		border-radius: 0 !important;
	}

	.media-section {
		flex-direction: column !important;
	}
}

@media (max-width: 600px) {
	nav {
		ul {
			flex-wrap: wrap;
		}
	}
	main,
	.content {
		h2 {
			flex-direction: column;
			em {
				margin-top: 0.25em;
				margin-left: 0 !important;
			}
		}
	}
}

a {
	color: var(--fg);
	text-decoration: none;
}

.sidebarLink {
	background-color: transparent;
	border-radius: 0.5em;

	a {
		font-size: 1.125rem;
		font-weight: 600;
		width: calc(100% - 28px);
		border-radius: 8px;
		display: block;
		padding: 0.25em 7px;
		padding-right: 21px;
	}

	&:hover,
	&.active {
		background-color: var(--primary);
		a {
			color: var(--bg);
		}
	}

	&:hover {
		&:not(.active) {
			a {
				backdrop-filter: brightness(150%);
			}
		}
		&.active {
			a {
				backdrop-filter: brightness(125%);
			}
		}
	}
}

.navLink {
	margin-left: 2em;

	transition: border 0.1s ease-in-out;
	border-bottom: 2px solid transparent;

	a {
		font-size: 1.125rem;
		font-weight: 600;
		transition: filter 0.1s ease-in-out;
	}

	&:not(:hover, .active) {
		a {
			filter: contrast(25%);
		}
	}

	&:hover,
	&.active {
		border-color: var(--fg);
	}
}

.socialLink {
	flex-grow: 1;
	aspect-ratio: 1 / 1;
	border-radius: 0.5em;
	padding: 1em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.05s ease-in-out;
	&:active {
		transform: scale(0.95);
	}
	&:hover {
		filter: brightness(1.1);
		cursor: pointer;
	}
	svg {
		width: 1.5em;
		height: 1.5em;
	}
}

main {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;

	max-width: calc(var(--page-width) - 1em - 2em);
	padding: 2em 2em;
	background-color: var(--bg);

	border-radius: 0.5em;
}

main,
.content {
	a {
		display: inline;
		box-sizing: border-box;
		text-indent: 0;
		font-weight: 600;

		transition: text-decoration-color 0.1s ease-in-out;
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: transparent;

		&:hover {
			filter: brightness(1.1);
			text-decoration-color: var(--primary);
		}
		color: var(--primary);
	}

	p {
		font-size: 1rem;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		line-height: 1.5em;
		word-wrap: break-word;
	}

	h1 {
		font-size: 28px;
		display: inline-block;
		user-select: none;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	h2 {
		color: var(--fg);
		font-size: 1.25rem;

		display: flex;
		white-space: nowrap;

		em {
			font-style: normal;
			font-size: 18px;
			filter: contrast(25%);
			margin-top: -0.5rem;
			font-weight: 400;
		}
	}

	strong {
		font-weight: 600;
	}

	ul {
		margin-left: 1.5em;
		font-size: 1rem;
		line-height: 1.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

.logo h1 {
	color: #fff;
	border-radius: 0.25em;
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

.slider-list {
	width: calc((var(--page-width) / 5) * 3);
	height: calc((calc((var(--page-width) / 5) * 3.5) / 16) * 9);
	position: relative;
}
.slide {
	width: calc((var(--page-width) / 5) * 3);
	height: calc((calc((var(--page-width) / 5) * 3) / 16) * 9);
	position: relative;
	img {
		object-fit: cover;
		object-position: 50% 50%;
	}
	overflow: hidden;
}
.slider-frame {
	border-radius: 0.5em;
	background-color: var(--bg);
}

.footerLink {
	font-weight: 600;
	&:hover {
		filter: brightness(1.1);
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
	&.igalaxy {
		color: #ab48ab;
	}
	&.jip {
		color: rgb(29, 153, 97);
	}
	&.legal {
		color: var(--primary);
		text-decoration-thickness: 1px;
	}
}

#howDidWeGetHere:hover {
	cursor: pointer;
}

.themeSwitcher {
	width: 26.875px;
	height: 26.875px;
	cursor: pointer;
	margin-left: 2em;

	transition: filter 0.1s ease-in-out;
	filter: contrast(25%);

	&:hover {
		filter: none;
	}
}
